.container1{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    align-items: center;
    color: aliceblue;
    text-align: center;
    
}
.container1 h1{
    font-size: 42px;
    font-family:unset;
    font-weight: 500;
    color: white;
    position:relative ;
    bottom: 450px;

}
.container1 p{
    color: rgb(182, 176, 169);
    font-size: 15px;
    
}
.container1 h1 span{
    color: rgb(14, 14, 117);
}
.pp span{
    font-size: 30px;
    color: aliceblue;
}
